.list-group .lista:hover{
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;

}

.list-group li{
  display: inline-block;
}



textarea {
  border: 1px solid gray;
  padding: 5px;

}

.head {
  position: relative;
}
.head .title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
}

.head .nota {
  position: absolute;
  right: 0;
  bottom: 0;
}

.notaLista .star {
  font-size: 1.0em;
}
