.list-group li:hover{
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}
.list-group li{
  display: inline-block;
}



textarea {
  border: 1px solid gray;
  padding: 5px;

}
