<section class="main-container padding-bottom-clear">

    <div class="container">
        <div class="row">

            <div class="col-12">

                <!-- pills end -->
            </div>
            <div class="clearfix"></div>
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-12 pv-40" *ngIf="universidade">
                <div class="head">
                    <h3 class="title">{{universidade.nome}}</h3>
                    <ngb-rating [(rate)]="universidade.mediageral" [(max)]="maxNota" class="nota" [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100"></span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <div class="separator-2"></div>
                <p>{{universidade.descricao}}</p>
                <h3 class="title">{{tipo == 'curso' ? 'Universidades' : 'Cursos'}}</h3>
                <ul class="list-group">
                    <li class="cabecalho">
                        <div class="row">
                            <span class="col-md-3 text-center"><i class="fa" [ngClass]="{'fa-graduation-cap': tipo == 'universidade', 'fa-university': tipo == 'curso'}"></i> <i class="fa" [ngClass]="{'fa-sort-up': sort == 1, 'fa-sort-down': sort == -1, 'fa-sort': sort !== 1 && sort !== -1}" (click)="sortBy(1)"></i></span>
                            <!-- <span class="col-md-2 text-center"><i class="fa fa-clock-o"></i></span> -->
                            <span class="col-md-3 text-center">Gouni <i class="fa" [ngClass]="{'fa-sort-up': sort == 2, 'fa-sort-down': sort == -2, 'fa-sort': sort !== 2 && sort !== -2}" (click)="sortBy(2)"></i></span>
                            <span class="col-md-2 text-center">Mec <i class="fa" [ngClass]="{'fa-sort-up': sort == 3, 'fa-sort-down': sort == -3, 'fa-sort': sort !== 3 && sort !== -3}" (click)="sortBy(3)"></i></span>
                            <span class="col-md-2 text-center">Guia Estudante <i class="fa" [ngClass]="{'fa-sort-up': sort == 4, 'fa-sort-down': sort == -4, 'fa-sort': sort !== 4 && sort !== -4}" (click)="sortBy(4)"></i></span>
                            <span class="col-md-2 text-center" *ngIf="tipo=='curso'"><label class="comparar" (click)="comparar();">
                                    Comparar</label></span>

                        </div>
                    </li>
                    <li class="list-group-item-action lista" *ngFor="let item of paginacao.lista">
                        <div class="row">
                            <div class="col-md-3" (click)="ir(item)">
                                {{item.nome}}
                            </div>
                            <!-- <div class="col-md-2 text-center">
                                {{item.duracao}}/{{item.periodo}}
                            </div> -->
                            <div class="col-md-3 text-center">
                                <label *ngIf="!item.mediageral">Sem Avaliação</label>
                                <ngb-rating *ngIf="item.mediageral" [(rate)]="item.mediageral" [(max)]="maxNota" class="notaLista" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"></span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="col-md-2 text-center">
                                <label *ngIf="!item.mec">Sem Avaliação</label>
                                <ngb-rating *ngIf="item.mec" [(rate)]="item.mec" [(max)]="maxNota" class="notaLista" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"></span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="col-md-2 text-center">
                                <label *ngIf="!item.guia_estudante">Sem Avaliação</label>
                                <ngb-rating *ngIf="item.guia_estudante" [(rate)]="item.guia_estudante" [(max)]="maxNota" class="notaLista" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"></span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="col-md-2 text-center" *ngIf="tipo=='curso'">
                                <mat-checkbox class="compare" [(ngModel)]="item.compare" (change)="OnChange(item)"></mat-checkbox>
                            </div>

                            <!-- <label class="col-sm-2 text-center">{{item.mediauser ? item.mediauser : '?' }}/{{item.mediageral ? item.mediageral : '?'}}</label> -->
                            <!-- <i class="fa" [ngClass]="{'fa-graduation-cap': tipo == 'universidade', 'fa-university': tipo == 'curso'}" ></i>
                {{item.nome}} - <i class="fa fa-clock-o"></i>Duração/Periodo: {{item.duracao}} Anos/{{item.periodo}} -->
                        </div>

                    </li>
                </ul>
                <mat-paginator *ngIf="paginacao.lista"
                    [length]="paginacao.length"
                    [pageSize]="paginacao.pageSize"
                    [pageSizeOptions]="paginacao.pageSizeOptions"
                    (page)="page($event)"
                    >

                </mat-paginator>
                <!-- <a href="#" class="btn btn-animated btn-default btn-lg">External Link <i class="fa fa-external-link"></i></a> -->
                <hr>
                <!-- <div class="testimonial text-center">

                    <h3>Just Perfect!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                        <blockquote>
                            <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud
                                antium, totam
                                rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue
                                a justo.</p>
                        </blockquote>

                    </div>
                </div> -->
            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <!-- <aside class="col-lg-4 col-xl-3 ml-xl-auto pv-40">
        <div class="sidebar">
          <div class="block clearfix" *ngIf="universidade">
            <h3 class="title">Avaliar</h3>
            <div class="separator-2"></div>
            <button class="btn btn-sm btn-default btn-animated" (click)="setAval();">Avaliar<i class="fa fa-check"></i></button>

          </div>
          <div class="block clearfix" *ngIf="listCompare.length > 0" >
            <h3 class="title">Comparações</h3>
            <div class="separator-2"></div>
            <ul class="list margin-clear">
              <li *ngFor="let item of listCompare"><span class="text-right">{{item.nome}}</span></li>
            </ul>
            <button class="btn btn-sm btn-default btn-animated text-right" (click)="comparar();">Comparar<i class="fa fa-check"></i></button>

          </div>
        </div>

      </aside> -->
            <!-- sidebar end -->
        </div>
    </div>
</section>
