.list-icons li:hover{
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}
.list-icons li{
  display: inline-block;
}

.rating {
  border: none;
  float: left;

}
.rating input{
  display: none;
}
.rating label:before{
  font-size: 1.75em;
  font-family: FontAwesome;
  content: "\f005";
  margin: 2px;
  display: inline-block;
}
.rating label {
  color: #ddd;
  float: right;
  cursor: pointer;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

textarea {
  border: 1px solid gray;
  padding: 5px;

}
