<div class="banner banner-big-height dark-translucent-bg padding-bottom-clear" style="background-image:url('assets/images/school.jpg');background-position: 50% 32%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center offset-lg-2 pv-20">
        <h1 class="title">Encontre a faculdade ideal para você ;)</h1>
        <div class="separator mt-10"></div>
        <p class="text-center">Aqui você encontra a faculdade ideal para o seu perfil, use e abuse dos filtros abaixo para encontrar onde seu futuro
          começa, não utilize como base comerciais de televisão, aqui nos baseamos nos números e nas opiniões de pessoas
          como você!</p>
      </div>
    </div>
  </div>
  <!-- section start -->
  <!-- ================ -->
  <div class="dark-translucent-bg section">
    <div class="container">
      <!-- filters start -->
      <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
        <form class="form-inline">
          <div class="form-group">
            <label>Curso:</label>
            <input type="text" class="form-control">
          </div>
          <!-- <div class="form-group ml-1">
            <label>Cidade:</label>
            <input type="text" class="form-control">
          </div> -->
          <!-- <div class="form-group ml-1">
            <label>Distância:</label>
            <select class="form-control">
              <option selected="selected">5 km</option>
              <option>5 km</option>
              <option>10 km</option>
              <option>15 km</option>
              <option>20 km</option>
              <option>30 km</option>
            </select>
          </div> -->
        </form>
      </div>
      <!-- filters end -->
    </div>
  </div>
  <!-- section end -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="text-center">
          <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear">Pesquisar agora
            <i class="fa fa-check"></i>
          </button>
          <!-- <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear">Avaliar minha Facul
            <i class="fa fa-check"></i>
          </button> -->
        </form>
      </div>
    </div>
  </div>
</div>
