<h2 mat-dialog-title class="title">Avaliação</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label>Universidade:</label>
                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="aval.universidade"
                    (ngModelChange)="changeUni($event);" [ngbTypeahead]="searchUni" (click)="click.next($event.target.value)"
                    #instance="ngbTypeahead" />
            </div>
            <div class="form-group row">
                <label>Curso:</label>
                <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="aval.curso" (ngModelChange)="changeCurso($event);"
                    [ngbTypeahead]="searchCurso" (click)="click.next($event.target.value)" #instance="ngbTypeahead" />
            </div>
            <div class="form-group row">
                <label>Mensalidade:</label>
                <input type="text" class="form-control" appMaskMoney [(ngModel)]="aval.mensalidade" />

            </div>
            <div class="form-group row">
                <label>Comentario:</label>
                <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="aval.titulo">
            </div>
            <div class="form-group row">
                <textarea class="form-control" rows="6" placeholder="Comentario" [(ngModel)]="aval.comentario"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngFor="let item of campos " class="rating">
                <label class="nome">{{item | formatLabel}}:</label>
                <ngb-rating [(rate)]="aval[item]" [(max)]="maxNota" class="nota">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100"></span>
                    </ng-template>
                </ngb-rating>

            </div>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="submit" class="btn btn-group btn-default btn-animated" (click)="updateAval()">Enviar
        <i class="fa fa-check"></i>
    </button>
</mat-dialog-actions>
