<!-- background image -->
<!-- banner start -->
<!-- ================ -->


  <!-- name-and-slogan -->


    <h2 mat-dialog-title class="title">Login</h2>
    <form mat-dialog-content class="form-horizontal" #frl="ngForm">
      <div class="form-group has-feedback row">
        <div mat-form-field class="col-md-11">
          <input type="email" class="form-control"  placeholder="Email" [(ngModel)]="login.email"  [ngModelOptions]="{standalone: true}" required>
          <i class="fa fa-pencil form-control-feedback pr-4"></i>
        </div>
      </div>
      <div class="form-group has-feedback row">
        <div mat-form-field class="col-md-11">
          <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="login.senha" [ngModelOptions]="{standalone: true}" required>
          <i class="fa fa-pencil form-control-feedback pr-4"></i>
        </div>
      </div>
    </form>
    <label *ngIf="error" class="error"><i>Login ou senha invalidos!</i></label>
    <mat-dialog-actions>
      <button type="submit" class="btn btn-group btn-default btn-animated" (click)="loginUsuario()">Login
        <i class="fa fa-check"></i>
      </button>

      <button class="btn btn-group btn-default btn-animated" (click)="irCadastro()">Cadastrar
            <i class="fa fa-check"></i>
      </button>
    </mat-dialog-actions>

  <!-- .subfooter start -->
  <!-- ================ -->

<!-- banner end -->
