/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.star:before {

  color: darkgray;
  font-family: FontAwesome;
  content: "\f006";


}
.filled:before {
  color: #FFD700;
  font-family: FontAwesome;
  content: "\f005";
}
.star{
  color: #ddd;
  font-size: 1.5em;
}
